body {
    background-color: antiquewhite;
    color: rgb(247, 198, 134);
    margin: 0; /* Remover margens do body para evitar problemas de layout */
    height: 100vh; /* Garantir que o corpo ocupe a altura total da tela */
}

h1 {
    color: brown;
    text-align: center; /* Adicionando alinhamento central ao h1 */
}

section {
    background: rgb(12, 11, 0);
    display: flex;
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    height: 100%; /* Garantir que a seção ocupe toda a altura disponível */
    padding-top: 80px; /* Apliquei apenas uma vez */
}
