body {
    background-color: rgb(236, 225, 250);
    color: rgb(47, 47, 47);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: .rgb(225, 217, 255);
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

section {
    background: rgb(12, 11, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    color: white;
    padding: 20px;
    text-align: left;
}

section div {
    max-width: 900px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 10px 0;
}

