body {
    background-color: antiquewhite;
    color: rgb(247, 198, 134);
}

h1 {
    color: brown;
}

section {
    background: rgb(12, 11, 0);
    padding-top: 80px; /* Removido o padding duplicado */
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
}

}